---
import BasicLayout from '../layout/BasicLayout.astro';
import Card from '../components/Card.astro';
import "../styles/global.css";

const reponsData = await fetch('https://randomuser.me/api/?results=7');
const users = await reponsData.json();

---

<BasicLayout>

	<h1 class="mt-8 text-8xl font-deezerbold font-bold mb-6 text-center">Welcome to Deezer</h1>

	<div class="animate-move">
			<ul class="flex flex-row gap-8 p-4">

			{users.results.map((user) => (
				<li>
				<Card firstname={user.name.first} 
					  lastname={user.name.last} 
					  email={user.email} 
					  phone={user.phone} 
					  locationcity={user.location.city} 
					  locationcountry={user.location.country} 
					  picture={user.picture.large}
					  >
				{/* Contenu de la carte {user.name.first} */}
					
					
				</Card>
				</li>
			))}
			</ul>
</div>
	</BasicLayout>
</html>
